<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bwie.jingdong">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/touxiang"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity android:name=".HomePageActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <activity android:name="com.bwie.activity.LoginActivity" />
        <activity android:name="com.bwie.activity.RegisterActivity" />
        <activity android:name="com.bwie.activity.SouSuoActivity" />
        <activity android:name="com.bwie.activity.DingDanActivity" />
        <activity android:name="com.bwie.activity.XqActivity" />
        <activity android:name="com.bwie.activity.EWMActivity" />
        <activity android:name="com.bwie.alipay.AliPayActivity" />
        <activity android:name="com.bwie.alipay2.WeChatActivity" />
        <activity android:name="com.bwie.activity.NPActivity" />
        <activity android:name="com.bwie.activity.AddAddressActivity"></activity>
    </application>

</manifest>